<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ivanova_carserviceEntities" connectionString="metadata=res://*/IvanovaModel.csdl|res://*/IvanovaModel.ssdl|res://*/IvanovaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MB15PRO\SQLEXPRESS;initial catalog=Ivanova_carservice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>